{% extends "base.html" %}

{% block title %}
WebChat
{% endblock %}

{% block content %}
<section class="discussion-areas">
    {% for thread in threads %}
    <a href="{{ url_for('view_thread', thread_id=thread.id) }}" class="discussion-area-link">
        <article class="discussion-area">
            <h2>{{ thread.title }}</h2>
            <p>Messages: <span class="message-count">{{ thread.message_count }}</span></p>
            <p>Last Message: <time class="last-message">{{ thread.last_message }}</time></p>
        </article>
    </a>
    {% endfor %}
</section>
{% endblock %}