<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebChat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">{% block title %}<a class="header-link-home" href="/">WebChat</a>{% endblock %}</div>
        <div class="navbar-container">
            {% if "user_id" in session %}
            <span  class="username-display">Logged in as <span class="username-highlight">{{ session["username"] }}</span></span>
            <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
            {% block navbar %}{% endblock %}
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <!-- Modal Structure -->
</body>
</html>