{% extends "base.html" %}

{% block title %}
WebChat
{% endblock %}

{% block content %}
<section class="discussion-areas">
    {% for area in areas %}
    <a href="{{ url_for('view_area', area_id=area.id) }}" class="discussion-area-link">
        <article class="discussion-area">
            <h2>{{ area.topic }}</h2>
            <p>Threads: <span class="thread-count">{{ area.thread_count }}</span></p>
            <p>Messages: <span class="message-count">{{ area.message_count }}</span></p>
            <p>Last Message: <time class="last-message">{{ area.last_message }}</time></p>
        </article>
    </a>
    {% endfor %}
</section>
{% endblock %}