<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebChat</title>
    <link rel="stylesheet" href="{{ url_for('chat.static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>
<body>
    <header>
        <div class="header-container">{% block title %}<a class="header-link-home" href="{{ url_for('chat.index') }}">WebChat</a>{% endblock %}</div>
        <div class="navbar-container">
            {% if "user_id" in session %}
            <span  class="username-display">Logged in as {% if session["is_admin"] == "True" %}administrator {% endif %}<span class="username-highlight">{{ session["username"] }}</span></span>
            <a href="{{ url_for('chat.logout') }}" class="logout-button">Logout</a>
            <!-- Search Button -->
            <button id="openSearchModalBtn" class="modern-button">Search</button>
            <!-- Search Modal -->
            <div id="searchModal" class="modal">
                <div class="modal-content">
                    <span class="close-btn" id="closeSearchModalBtn">&times;</span>
                    <form action="{{ url_for('chat.search') }}" method="get" id="searchForm">
                        <h2>Search</h2>
                        <div class="form-group">
                            <label for="searchQuery">Search:</label>
                            <input type="text" id="searchQuery" name="query" required>
                        </div>
                        <button type="submit" class="modern-button">Search</button>
                    </form>
                </div>
            </div>
            <script>
                var search_modal = document.getElementById("searchModal");
                var btn = document.getElementById("openSearchModalBtn");
                var span = document.getElementById("closeSearchModalBtn");
            
                btn.onclick = function() {
                    search_modal.style.display = "block";
                }
                span.onclick = function() {
                    search_modal.style.display = "none";
                }
            </script>
            {% block navbar %}{% endblock %}
            {% endif %}
        </div>
    </header>
    {% if message %}
    <div class="message-container">
        <p class="message">{{ message }}</p>
    </div>
    {% endif %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == "error" %}
            <div class="message-container">
                <p class="message red-border">{{ message }}</p>
            </div>
            {% else %}
            <div class="message-container">
                <p class="message">{{ message }}</p>
            </div>
            {% endif %}
            
            {% endfor %}
        {% endif %}
    {% endwith %}
    <main>
        <div class="content-container">
            {% block content %}{% endblock %}
        </div>
        {% if "user_id" in session %}
        <aside class="notifications-container">
            <h3>Notifications</h3>
            <ul>
                {% for notification in notifications %}
                    <li>
                        <span>{{ notification.sent_time_ago }}</span>
                        <a href="{{ url_for('chat.view_thread', thread_id=notification.thread_id) }}">
                            {{ notification.area_topic }} / {{ notification.thread_title }} 
                            <br>
                            {{ notification.sender_name }}: {{ notification.message }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </aside>
        {% endif %}
    </main>
</body>
</html>