{% extends "base.html" %}

{% block navbar %}

{% if is_admin %}
<!-- Add Area Button -->
<button id="createAreaBtn" class="modern-button">New Area</button>
{% endif %}
{% endblock %}

{% block content %}
<section class="discussion-areas">
    {% for area in areas %}
    <a href="{{ url_for('chat.view_area', area_id=area.id) }}" class="discussion-area-link">
        <article class="discussion-area">
            <h2>{{ area.topic }}</h2>
            <p>Threads: <span class="thread-count">{{ area.thread_count }}</span></p>
            <p>Messages: <span class="message-count">{{ area.message_count }}</span></p>
            <p>Last: <time class="last-message">{{ area.last_message }}</time></p>
        </article>
    </a>
    {% endfor %}
</section>
<div id="createAreaModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" id="close-btn-create-area">&times;</span>
        <form action="{{ url_for('chat.index') }}" method="post" id="createAreaForm">
            <h2>Create New Area</h2>
            <div class="form-group">
                <label for="topicName">Topic:</label>
                <input type="text" id="topicName" name="topic" required>
            </div>
            {% if is_admin %}
            <div class="form-group">
                <div class="custom-checkbox">
                    <input type="checkbox" id="is_secret" name="is_secret">
                    <label for="is_secret">Secret</label>
                </div>
            </div>
            {% endif %}
            <div class="cf-turnstile" data-sitekey="{{ turnstile_sitekey }}"></div>
            <button type="submit" class="modern-button">Create</button>
        </form>
    </div>
</div>
<script>
    var modal = document.getElementById("createAreaModal");
    var btn = document.getElementById("createAreaBtn");
    var span = document.getElementById("close-btn-create-area");

    btn.onclick = function() {
        modal.style.display = "block";
    }
    span.onclick = function() {
        modal.style.display = "none";
    }
</script>
{% endblock %}