{% extends "base.html" %}

{% block content %}
<div class="login-container">
    <form action="{{ url_for('chat.login') }}" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="cf-turnstile" data-sitekey="{{ turnstile_sitekey }}"></div>
        <div class="form-group">
            <button type="submit">Login</button>
        </div>
    </form>
     <!-- Registration Link -->
     <p class="register-link">
        Don't have an account? <a href="{{ url_for('chat.register') }}">Register here</a>.
    </p>
</div>
{% endblock %}