{% extends "base.html" %}

{% block title %}
<a class="header-link-home" href="{{ url_for('chat.index') }}">WebChat</a> 
<a class="header-small" href="{{ url_for('chat.view_area', area_id=thread.area) }}">{{ thread.area_name }}</a> 
<a class="header-smaller" href="{{ url_for('chat.view_thread', thread_id=thread.id) }}">{{ thread.title }}</a>
{% endblock %}

{% block navbar %}
{% if session['user_id'] == thread.owner_id or is_admin %}
<button id="deleteThreadBtn" class="modern-button red-border">Delete Thread</button>
{% endif %}
{% endblock %}

{% block content %}
<div class="chat-container">
    <section id="message-list">
        {% for message in thread.messages %}
        <article class="message">
            <header>
                <time>{{ message.sent_time_ago }}</time>
                <strong>{{ message.sender_name }}</strong>
            </header>
            {% if message.image_url %}
            <img src="{{ message.image_url }}" alt="Message Image" style="max-width: 100%; height: auto;">
            {% endif %}
            <p>{{ message.text }}</p>
            {% if message.sender == session["user_id"] %}
            <button type="button" class="modern-button editMessageBtn" data-message-id="{{ message.id }}">Edit</button>
            <button type="button" class="modern-button deleteMessageBtn" data-message-id="{{ message.id }}">Delete</button>
            {% endif %}
        </article>
        {% else %}
        <p>No messages yet.</p>
        {% endfor %}
    </section>
    <form action="{{ url_for('chat.send_message', thread_id=thread.id) }}" method="post" id="message-form" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
        <textarea name="message" rows="5" required></textarea>
        <div class="form-group">
            <label for="image" class="file-input-label">Upload Image (optional)</label>
            <input type="file" id="image" name="image" accept="image/*" class="hidden-file-input">
            <label for="image" class="file-input-button">Choose File</label>
        </div>
        {% if turnstile_sitekey %}
            <div class="cf-turnstile" data-sitekey="{{ turnstile_sitekey }}"></div>
        {% endif %}
        <button type="submit">Send</button>
    </form>
</div>
<div id="deleteThreadModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" id="close-btn-delete-thread">&times;</span>
        <h2>Delete Thread</h2>
        <p>Are you sure you want to delete this thread?</p>
        <form action="{{ url_for('chat.delete_thread', thread_id=thread.id) }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
            <button type="submit" class="modern-button red-border">Confirm Delete</button>
            <button type="button" class="modern-button" id="cancelDeleteThread">Cancel</button>
        </form>
    </div>
</div>
<div id="deleteMessageModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" id="close-btn-delete-message">&times;</span>
        <h2>Delete Message</h2>
        <p>Are you sure you want to delete this message?</p>
        <form id="deleteMessageForm" action="" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
            <button type="submit" class="modern-button red-border">Confirm Delete</button>
            <button type="button" class="modern-button" id="cancelDeleteMessage">Cancel</button>
        </form>
    </div>
</div>
<div id="editMessageModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" id="close-btn-edit-message">&times;</span>
        <h2>Edit Message</h2>
        <form id="editMessageForm" action="{{ url_for('chat.edit_message', message_id=0, thread_id=thread.id) }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
            <textarea id="editMessageText" name="edited_message" rows="5" required></textarea>
            <button type="submit" class="modern-button">Confirm Edit</button>
            <button type="button" class="modern-button" id="cancelEditMessage">Cancel</button>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var messageList = document.getElementById("message-list");
        messageList.scrollTop = messageList.scrollHeight;
    });
</script>
<script>
    var deleteThreadModal = document.getElementById("deleteThreadModal");
    var deleteThreadBtn = document.getElementById("deleteThreadBtn");
    var spanDeleteThread = document.getElementById("close-btn-delete-thread");
    var cancelDeleteThreadBtn = document.getElementById("cancelDeleteThread");

    deleteThreadBtn.onclick = function() {
        deleteThreadModal.style.display = "block";
    }
    spanDeleteThread.onclick = function() {
        deleteThreadModal.style.display = "none";
    }
    cancelDeleteThreadBtn.onclick = function() {
        deleteThreadModal.style.display = "none";
    }
</script>
<script>
    var deleteMessageModal = document.getElementById("deleteMessageModal");
    var deleteMessageForm = document.getElementById("deleteMessageForm");
    var deleteMessageButtons = document.querySelectorAll(".deleteMessageBtn");
    var spanDeleteMessage = document.getElementById("close-btn-delete-message");
    var cancelDeleteMessageBtn = document.getElementById("cancelDeleteMessage");

    deleteMessageButtons.forEach(button => {
        button.onclick = function() {
            var messageId = this.getAttribute("data-message-id");
            deleteMessageForm.action = "{{ url_for('chat.delete_message', message_id=0, thread_id=thread.id) }}".replace('0', messageId);
            deleteMessageModal.style.display = "block";
        }
    });

    spanDeleteMessage.onclick = function() {
        deleteMessageModal.style.display = "none";
    }
    cancelDeleteMessageBtn.onclick = function() {
        deleteMessageModal.style.display = "none";
    }
</script>
<script>
    var editMessageModal = document.getElementById("editMessageModal");
    var editMessageText = document.getElementById("editMessageText");
    var editMessageForm = document.getElementById("editMessageForm");
    var editMessageButtons = document.querySelectorAll(".editMessageBtn");
    var spanEditMessage = document.getElementById("close-btn-edit-message");
    var cancelEditMessageBtn = document.getElementById("cancelEditMessage");

    editMessageButtons.forEach(button => {
        button.onclick = function() {
            var messageId = this.getAttribute("data-message-id");
            var messageText = this.closest('.message').querySelector('p').textContent;
            editMessageText.value = messageText;
            editMessageForm.action = "{{ url_for('chat.edit_message', message_id=0, thread_id=thread.id) }}".replace('0', messageId);
            editMessageModal.style.display = "block";
        }
    });

    spanEditMessage.onclick = function() {
        editMessageModal.style.display = "none";
    }
    cancelEditMessageBtn.onclick = function() {
        editMessageModal.style.display = "none";
    }
</script>
{% endblock %}
