{% extends "base.html" %}

{% block title %}
<a class="header-link-home" href="{{ url_for('chat.index') }}">WebChat</a> 
<a class="header-small" href="{{ url_for('chat.view_area', area_id=thread.area) }}">{{ thread.area_name }}</a> 
<a class="header-smaller" href="{{ url_for('chat.view_thread', thread_id=thread.id) }}">{{ thread.title }}</a>
{% endblock %}

{% block content %}
<div class="chat-container">
    <section id="message-list">
        {% for message in thread.messages %}
        <article class="message">
            <header>
                <time>{{ message.sent_time_ago }}</time>
                <strong>{{ message.sender_name }}</strong>
            </header>
            <p>{{ message.text }}</p>
            {% if message.sender == session["user_id"] %}
            <form action="{{ url_for('chat.delete_message', message_id=message.id, thread_id=thread.id) }}" method="post">
                <button type="submit" class="modern-button">Delete</button>
            </form>
            {% endif %}
        </article>
        {% else %}
        <p>No messages yet.</p>
        {% endfor %}
    </section>
    <form action="{{ url_for('chat.view_thread', thread_id=thread.id) }}" method="post" id="message-form">
        <textarea name="message" rows="5" required></textarea>
        <div class="cf-turnstile" data-sitekey="{{ turnstile_sitekey }}"></div>
        <button type="submit">Send</button>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var messageList = document.getElementById("message-list");
        messageList.scrollTop = messageList.scrollHeight;
    });
</script>
{% endblock %}
